parameters:
	bootstrap: tests/bootstrap.php
	ignoreErrors:
	    - '#Method DevboardLib\\Generix\\Serializable::deserialize\(\) has no return typehint specified.#'
includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-mockery/extension.neon




